<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>180424431126-b2487fj4jstgvs61t2mifhavj6tiktpc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.180424431126-b2487fj4jstgvs61t2mifhavj6tiktpc</string>
	<key>API_KEY</key>
	<string>AIzaSyCwBwJNFPJbHcXA_3Y6suqz1GD1wINrvac</string>
	<key>GCM_SENDER_ID</key>
	<string>180424431126</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.csukas.Pokedex</string>
	<key>PROJECT_ID</key>
	<string>pokedex-7101f</string>
	<key>STORAGE_BUCKET</key>
	<string>pokedex-7101f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:180424431126:ios:04ed2205bb3c53e152c737</string>
</dict>
</plist>